<a href="https://colab.research.google.com/github/SarahEldreny/Python-Labs/blob/main/Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Variables**

Variables are containers for storing data values.

#Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
#Example
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
#Example
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

#Casting

If you want to specify the data type of a variable, this can be done with casting.

### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:


*   int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
*   float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
*    str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

## Get the Type

You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

## Case-Sensitive

Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

    A variable name must start with a letter or the underscore character
    A variable name cannot start with a number
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John" 

# Illegal variable names:
# 2myvar = "John"
# my-var = "John"
# my var = "John"

## Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**

Each word, except the first, starts with a capital letter:

```
myVariableName = "John"
```
**Pascal Case**

Each word starts with a capital letter:


```
MyVariableName = "John"
```

**Snake Case**

Each word is separated by an underscore character:



```
my_variable_name = "John"

## Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:



Note: Make sure the number of variables matches the number of values, or else you will get an error.

Example

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:
Example

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

Example

Unpack a list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Output Variables

The Python **`print()`** function is often used to output variables.

In the `print()` function, you output multiple variables, separated by a comma.

You can also use the + operator to output multiple variables.

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

For numbers, the + character works as a mathematical operator.

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error.

Example

```
x = 5
y = "John"
print(x + y)
```


The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types.

In [ ]:
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x + y + z)

x = 5
y = 10
print(x + y)

Python is awesome
Python is awesome
Pythonisawesome
15

## Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
# Example
# Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

###The global Keyword

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
# Also, use the global keyword if you want to change a global variable inside a function.
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# **Python Numbers**

There are three numeric types in Python:


*   int
*   float
*   complex

Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# To verify the type of any object in Python, use the type() function:

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### *Int*

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

### *Float*

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

### *Complex*

Complex numbers are written with a "j" as the imaginary part.

### *Random Number*

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [ ]:
# Integers:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z)) 

# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
# Complex:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
# Import the random module, and display a random number between 1 and 9:
import random

print(random.randrange(1, 10))

8

### Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
# Convert from one type to another:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)
print("-----------------------")
print(type(a))
print(type(b))
print(type(c))

# Note: You cannot convert complex numbers into another number type.

1.0
2
(1+0j)
-----------------------
<class 'float'>
<class 'int'>
<class 'complex'>

# **Python Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function.

Assigning a string to a variable is done with the variable name followed by an equal sign and the string.

### Multiline Strings

You can assign a multiline string to a variable by using three quotes Or three single quotes.


**Note**: in the result, the line breaks are inserted at the same position as in the code.

In [ ]:
a = "Hello"
print(a) 

# You can use three double quotes:
b = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(b) 

c = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(c)

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

e

In [ ]:
# The len() function returns the length of a string:
a = "Hello, World!"
print(len(a))

13


## Check String

To check if a certain phrase or character is present in a string, we can use the keyword `in`.

In [ ]:
# Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)

True

## Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword `not in`.

In [ ]:
# Check if "expensive" is NOT present in the following text:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

# ***Python Lists***


Lists are used to store multiple items in a single variable.
 ```
 mylist = ["apple", "banana", "cherry"]
```
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets.

In [ ]:
# Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

#List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.
#Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

##**Note**: 
There are some list methods that will change the order, but in general: the order of the items will not change.
#Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
#Allow Duplicates

Since lists are indexed, lists can have items with the same value:

In [ ]:
# Lists allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

##List Length

To determine how many items a list has, use the `len()` function:

In [ ]:
# Print the number of items in the list:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

##List Items - Data Types

List items can be of any data type:

Example

String, int and boolean data types:
```
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
```
A list can contain different data types:
A list with strings, integers and boolean values:
```
list1 = ["abc", 34, True, 40, "male"]
```
##type()

From Python's perspective, lists are defined as objects with the data type 'list':
```
<class 'list'> 
```

In [ ]:
# What is the data type of a list?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

## The list() Constructor

It is also possible to use the `list()`constructor when creating a new list.

In [ ]:
# Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

#Python Collections (Arrays)

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

#Access Items

List items are indexed and you can access them by referring to the index number.


###Note: The first item has index 0.
##Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
# Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])

banana
cherry

##Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']



**Note**: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [ ]:
# This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
# This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

#Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

#Change Item Value

To change the value of a specific item, refer to the index number:

In [ ]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values.

In [ ]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.

In [ ]:
# Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']



**Note**: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly.

In [ ]:
# Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

#Insert Items




To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.


The `insert()` method inserts an item at the specified index.

In [16]:
# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**Note**: As a result of the example above, the list will now contain 4 items.

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

#Extend List
To append elements from another list to the current list, use the `extend()` method.

The elements will be added to the end of the list.

In [19]:
# Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#Add Any Iterable
The `extend()` method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [20]:
# Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Append Items
To add an item to the end of the list, use the `append()` method:

In [17]:
#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

#Remove Specified Item
The `remove()` method removes the specified item.

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The `pop()` method removes the specified index.

In [22]:
# Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the `pop()` method removes the last item.

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The `del` keyword also removes the specified index:

In [24]:
# Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The `del` keyword can also delete the list completely.

In [25]:
# Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

#Clear the List
The `clear()` method empties the list.

The list still remains, but it has no content.

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#Python - Sort Lists

##Sort List Alphanumerically
List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default.

In [27]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [28]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

###Sort Descending
To sort descending, use the keyword argument `reverse = True`.

In [29]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [30]:
# Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

##Case Insensitive Sort
By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters.

In [31]:
# Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use `str.lower` as a key function.

In [33]:
# Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [34]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

In [35]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method `list()`.

In [36]:
# Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#Python - Join Lists
###Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

In [37]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, which purpose is to add elements from one list to another list:

In [38]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#List Methods
Python has a set of built-in methods that you can use on lists.
```
Method	     Description

append()	Adds an element at the end of the list
clear()	  Removes all the elements from the list
copy()	  Returns a copy of the list
count()	  Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	  Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	    Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	  Sorts the list
```

# ***Python Tuples***

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.
```
mytuple = ("apple", "banana", "cherry")
```

In [ ]:
# Create a Tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
## Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
## Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
## Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [ ]:
# Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## Tuple Length

To determine how many items a tuple has, use the `len()` function:

In [ ]:
# Print the number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Types

Tuple items can be of any data type (String, int and boolean data types).
```
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
```

A tuple can contain different data types:

Example

A tuple with strings, integers and boolean values:
```
tuple1 = ("abc", 34, True, 40, "male")
```
```
type()
```
From Python's perspective, tuples are defined as objects with the data type 'tuple':
```
<class 'tuple'> 
```

In [ ]:
# What is the data type of a tuple?
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

#The `tuple()` Constructor

It is also possible to use the `tuple()` constructor to make a tuple.

In [ ]:
# Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:


Note: The first item has index 0.

In [ ]:
# Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## Negative Indexing

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
# Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
# Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')



**Note**: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [ ]:
# This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
# This example returns the items from "cherry" and to the end:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the tuple:

In [ ]:
# This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### Check if Item Exists

To determine if a specified item is present in a tuple use the `in` keyword:

In [ ]:
# Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.
## Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
# Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Add Items

Since tuples are immutable, they do not have a build-in `append()` method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
# Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
# Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Note: When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.

## Remove Items

Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

Or you can delete the tuple completely:

In [ ]:
# The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

## Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
# Packing a tuple:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

### Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
# Add a list of values the "tropic" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the `range() and len()` functions to create a suitable iterable.

In [ ]:
# Print all items by referring to their index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

## Join Two Tuples

To join two or more tuples you can use the `+` operator:

In [ ]:
# Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the `*` operator:

In [ ]:
# Multiply the fruits tuple by 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# ***Python Sets***

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

```
myset = {"apple", "banana", "cherry"}
```

In [ ]:
# Create a Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

**Note**: Sets are unordered, so you cannot be sure in which order the items will appear.
## Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.
## Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
## Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.
### Duplicates Not Allowed

Sets cannot have two items with the same value.

In [ ]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

## Get the Length of a Set

To determine how many items a set has, use the `len()` function.

In [ ]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## Set Items - Data Types

Set items can be of any data type:

String, int and boolean data types:
```
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False} 
```

A set can contain different data types:


A set with strings, integers and boolean values:
```
set1 = {"abc", 34, True, 40, "male"} 
```
```
type()
```
From Python's perspective, sets are defined as objects with the data type 'set':
```
<class 'set'> 
```

In [ ]:
# What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# The `set()` Constructor

It is also possible to use the `set()` constructor to make a set.

In [ ]:
# Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

### Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Change Items

Once a set is created, you cannot change its items, but you can add new items.

## Add Items

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the `add()` method.

In [ ]:
# Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

## Add Sets

To add items from another set into the current set, use the `update()` method.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'banana', 'mango', 'pineapple', 'papaya'}

## Add Any Iterable

The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
# Add elements of a list to at set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'cherry', 'kiwi', 'banana', 'orange'}

## Remove Item

To remove an item in a set, use the `remove()`, or the `discard()` method.

In [ ]:
# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}



**Note**: If the item to remove does not exist, `remove()` will raise an error.

In [ ]:
# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}



**Note**: If the item to remove does not exist, `discard()` will NOT raise an error.

You can also use the `pop()` method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the `pop()` method is the removed item.

In [ ]:
# Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}



**Note**: Sets are unordered, so when using the `pop()` method, you do not know which item that gets removed.

In [ ]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
# The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

### Loop Items

You can loop through the set items by using a for loop:

In [ ]:
# Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

## Join Two Sets

There are several ways to join two or more sets in Python.

You can use the `union()` method that returns a new set containing all items from both sets, or the `update()` method that inserts all the items from one set into another:

In [ ]:
# The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}



**Note**: Both `union()` and `update()` will exclude any duplicate items.

## Keep ONLY the Duplicates

The `intersection_update()` method will keep only the items that are present in both sets.

In [ ]:
# Keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The `intersection()` method will return a new set, that only contains the items that are present in both sets.

In [ ]:
# Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

## Keep All, But NOT the Duplicates

The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets.

In [ ]:
# Keep the items that are not present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'google', 'banana'}

The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets.

In [ ]:
# Return a set that contains all items from both sets, except items that are present in both:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'google', 'banana'}

# ***Python Dictionaries***

Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:
```
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

In [ ]:
# Create and print a dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Dictionary Items

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:  value pairs, and can be referred to by using the key name.

In [ ]:
# Print the "brand" value of the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

## Ordered or Unordered?

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.
## Changeable

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
## Duplicates Not Allowed

Dictionaries cannot have two items with the same key:

In [ ]:
# Duplicate values will overwrite existing values:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Dictionary Length

To determine how many items a dictionary has, use the `len()` function:

In [ ]:
# Print the number of items in the dictionary:
print(len(thisdict))

3

### Dictionary Items - Data Types

The values in dictionary items can be of any data type:

In [ ]:
# String, int, boolean, and list data types:
thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

```
type()
```
From Python's perspective, dictionaries are defined as objects with the data type 'dict':
```
<class 'dict'> 
```

In [ ]:
# Print the data type of a dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

## The `dict()` Constructor

It is also possible to use the `dict()` constructor to make a dictionary.

In [ ]:
# Using the dict() method to make a dictionary:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

## Accessing Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
# Get the value of the "model" key:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

There is also a method called get() that will give you the same result:

In [ ]:
# Get the value of the "model" key:
x = thisdict.get("model")

## Get Keys

The `keys()` method will return a list of all the keys in the dictionary.

In [ ]:
# Get a list of the keys:
x = thisdict.keys()

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [ ]:
# Add a new item to the original dictionary, and see that the keys list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

## Get Values

The `values()` method will return a list of all the values in the dictionary.

In [ ]:
# Get a list of the values:
x = thisdict.values()

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [ ]:
# Make a change in the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
# Add a new item to the original dictionary, and see that the values list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

## Get Items

The `items()` method will return each item in a dictionary, as tuples in a list.

In [ ]:
# Get a list of the key: value pairs
x = thisdict.items()

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [ ]:
# Make a change in the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [ ]:
# Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

## Check if Key Exists

To determine if a specified key is present in a dictionary use the `in` keyword:

In [ ]:
# Check if "model" is present in the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Change Dictionary Items
### Change Values

You can change the value of a specific item by referring to its key name:

In [ ]:
# Change the "year" to 2018:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

## Update Dictionary

The `update()` method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
# Update the "year" of the car by using the update() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

## Adding Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Update Dictionary

The `update()` method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key: value pairs.

In [ ]:
# Add a color item to the dictionary by using the update() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

## Removing Items

There are several methods to remove items from a dictionary:

In [ ]:
# The pop() method removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
# The del keyword removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# The del keyword can also delete the dictionary completely:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [ ]:
# The clear() method empties the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Loop Through a Dictionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [ ]:
# Print all key names in the dictionary, one by one:
for x in thisdict:
  print(x) 

# Print all values in the dictionary, one by one:
for x in thisdict:
  print(thisdict[x])

brand
model
year
Ford
Mustang
2018

In [ ]:
# You can also use the values() method to return values of a dictionary:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [ ]:
# You can use the keys() method to return the keys of a dictionary:
for x in thisdict.keys():
  print(x)

brand
model
year

In [ ]:
# Loop through both keys and values, by using the items() method:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

## Copy a Dictionary

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method `copy()`.

In [ ]:
# Make a copy of a dictionary with the copy() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function `dict()`.

In [ ]:
# Make a copy of a dictionary with the dict() function:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [ ]:
# Create a dictionary that contain three dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Or, if you want to add three dictionaries into a new dictionary:

In [ ]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}