<a href="https://colab.research.google.com/github/SarahEldreny/Python-Labs/blob/main/Python_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Variables**

Variables are containers for storing data values.

#Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
#Example
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
#Example
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

#Casting

If you want to specify the data type of a variable, this can be done with casting.

### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:


*   int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
*   float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
*    str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

## Get the Type

You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

## Case-Sensitive

Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

    A variable name must start with a letter or the underscore character
    A variable name cannot start with a number
    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John" 

# Illegal variable names:
# 2myvar = "John"
# my-var = "John"
# my var = "John"

## Multi Words Variable Names

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**

Each word, except the first, starts with a capital letter:

```
myVariableName = "John"
```
**Pascal Case**

Each word starts with a capital letter:


```
MyVariableName = "John"
```

**Snake Case**

Each word is separated by an underscore character:



```
my_variable_name = "John"

## Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:



Note: Make sure the number of variables matches the number of values, or else you will get an error.

Example

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:
Example

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

Example

Unpack a list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Output Variables

The Python **`print()`** function is often used to output variables.

In the `print()` function, you output multiple variables, separated by a comma.

You can also use the + operator to output multiple variables.

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

For numbers, the + character works as a mathematical operator.

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error.

Example

```
x = 5
y = "John"
print(x + y)
```


The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types.

In [ ]:
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)
print(x + y + z)

x = 5
y = 10
print(x + y)

Python is awesome
Python is awesome
Pythonisawesome
15

## Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
# Example
# Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

###The global Keyword

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
# Also, use the global keyword if you want to change a global variable inside a function.
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# **Python Numbers**

There are three numeric types in Python:


*   int
*   float
*   complex

Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# To verify the type of any object in Python, use the type() function:

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### *Int*

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

### *Float*

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

### *Complex*

Complex numbers are written with a "j" as the imaginary part.

### *Random Number*

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers.

In [ ]:
# Integers:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z)) 

# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
# Complex:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
# Import the random module, and display a random number between 1 and 9:
import random

print(random.randrange(1, 10))

8

### Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
# Convert from one type to another:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)
print("-----------------------")
print(type(a))
print(type(b))
print(type(c))

# Note: You cannot convert complex numbers into another number type.

1.0
2
(1+0j)
-----------------------
<class 'float'>
<class 'int'>
<class 'complex'>

# **Python Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function.

Assigning a string to a variable is done with the variable name followed by an equal sign and the string.

### Multiline Strings

You can assign a multiline string to a variable by using three quotes Or three single quotes.


**Note**: in the result, the line breaks are inserted at the same position as in the code.

In [ ]:
a = "Hello"
print(a) 

# You can use three double quotes:
b = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(b) 

c = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(c)

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

e

In [ ]:
# The len() function returns the length of a string:
a = "Hello, World!"
print(len(a))

13


## Check String

To check if a certain phrase or character is present in a string, we can use the keyword `in`.

In [ ]:
# Check if "free" is present in the following text:
txt = "The best things in life are free!"
print("free" in txt)

True

## Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword `not in`.

In [ ]:
# Check if "expensive" is NOT present in the following text:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

# Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.



**Note:** The first character has index 0.

In [ ]:
# Example
# Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

Slice From the Start

By leaving out the start index, the range will start at the first character:

In [1]:
# Example
# Get the characters from the start to position 5 (not included):
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End

By leaving out the end index, the range will go to the end:

In [2]:
# Example
# Get the characters from position 2, and all the way to the end:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

Example

Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [3]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Modify Strings

Python has a set of built-in methods that you can use on strings.
## Upper Case

Example

The `upper()` method returns the string in upper case:

The `lower()` method returns the string in lower case:

In [4]:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

## Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

Example

The `strip()` method removes any whitespace from the beginning or the end:

In [5]:
a = " Hello, World! "
print(a.strip())

Hello, World!

## Replace String
Example

The ` replace() ` method replaces a string with another string:

In [6]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## Split String

The `split()` method returns a list where the text between the specified separator becomes the list items.

Example

The `split()` method splits the string into substrings if it finds instances of the separator:

In [7]:
print(a.split(","))

['Hello', ' World!']

# String Concatenation

To concatenate, or combine, two strings you can use the + operator.

Example

Merge variable a with variable b into variable c:

In [8]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [9]:
# To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

Example

```
age = 36
txt = "My name is John, I am " + age
print(txt)
```

But we can combine strings and numbers by using the format() method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

The `format()` method takes unlimited number of arguments, and are placed into the respective placeholders:

In [10]:
# Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

##############################################################
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

My name is John, and I am 36
I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [11]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

Example

You will get an error if you use double quotes inside a string that is 
surrounded by double quotes:

```
txt = "We are the so-called "Vikings" from the north."
```
To fix this problem, use the escape character \":

In [12]:
# The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."

Escape Characters

Other escape characters used in Python:
```
Code 	Result 	
\' 	  Single Quote 	
\\ 	  Backslash 	
\n 	  New Line 	
\r 	  Carriage Return 	
\t 	  Tab 	
\b 	  Backspace 	
\f 	  Form Feed 	
\ooo 	Octal value 	
\xhh 	Hex value
```

# String Methods

Python has a set of built-in methods that you can use on strings.

**Note**: All string methods return new values. They do not change the original string.

```
Method 	         Description

capitalize()	  Converts the first character to upper case
casefold()	    Converts string into lower case
center()	      Returns a centered string
count()	        Returns the number of times a specified value occurs in a string
encode()	      Returns an encoded version of the string
endswith() 	    Returns true if the string ends with the specified value
expandtabs()	  Sets the tab size of the string
find()	        Searches the string for a specified value and returns the position of where it was found
format()	      Formats specified values in a string
format_map()	  Formats specified values in a string
index()	        Searches the string for a specified value and returns the position of where it was found
isalnum()	      Returns True if all characters in the string are alphanumeric
isalpha()	      Returns True if all characters in the string are in the alphabet
isdecimal()	    Returns True if all characters in the string are decimals
isdigit()	      Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	      Returns True if all characters in the string are lower case
isnumeric()	    Returns True if all characters in the string are numeric
isprintable()	  Returns True if all characters in the string are printable
isspace()	      Returns True if all characters in the string are whitespaces
istitle()     	Returns True if the string follows the rules of a title
isupper()	      Returns True if all characters in the string are upper case
join()	        Joins the elements of an iterable to the end of the string
ljust()	        Returns a left justified version of the string
lower()	        Converts a string into lower case
lstrip()	      Returns a left trim version of the string
maketrans()	    Returns a translation table to be used in translations
partition()	    Returns a tuple where the string is parted into three parts
replace()	      Returns a string where a specified value is replaced with a specified value
rfind()	        Searches the string for a specified value and returns the last position of where it was found
rindex()	      Searches the string for a specified value and returns the last position of where it was found
rjust()	        Returns a right justified version of the string
rpartition()	  Returns a tuple where the string is parted into three parts
rsplit()	      Splits the string at the specified separator, and returns a list
rstrip()	      Returns a right trim version of the string
split()	        Splits the string at the specified separator, and returns a list
splitlines()	  Splits the string at line breaks and returns a list
startswith()	  Returns true if the string starts with the specified value
strip()	        Returns a trimmed version of the string
swapcase()	    Swaps cases, lower case becomes upper case and vice versa
title()	        Converts the first character of each word to upper case
translate()	    Returns a translated string
upper()	        Converts a string into upper case
zfill()	        Fills the string with a specified number of 0 values at the beginning
```

# ***Test Yourself With Exercises in HackerRank***

# **Python Booleans**

Booleans represent one of two values: True or False.

### Boolean Values

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

When you run a condition in an if statement, Python returns `True or False`:

Evaluate Values and Variables

The `bool()` function allows you to evaluate any value, and give you True or False in return,

In [13]:
# Example
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [15]:
# Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [14]:
# Evaluate a string and a number:
print(bool("Hello"))
print(bool(15))

True
True

In [16]:
# Evaluate two variables:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

### Some Values are False

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. 

And of course the value False evaluates to False.

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [18]:
# The following will return True:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [20]:
# The following will return False:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Python also has many built-in functions that return a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:

In [21]:
# Example

# Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

True

# ***Python Operators***

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

Example
`print(10 + 5) #15`

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

## Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations:
```
Operator 	Name 	         Example 	
+     	Addition 	       x + y 	
-     	Subtraction 	   x - y 	
* 	    Multiplication 	 x * y 	
/ 	    Division 	       x / y 	
% 	    Modulus 	       x % y 	
** 	    Exponentiation   x ** y 	
// 	    Floor division 	 x // y
```

## Python Assignment Operators

Assignment operators are used to assign values to variables:
```
Operator 	Example 	Same As 
= 	       x = 5 	  x = 5 	
+= 	       x += 3 	x = x + 3 	
-= 	       x -= 3 	x = x - 3 	
*= 	       x *= 3 	x = x * 3 	
/= 	       x /= 3 	x = x / 3 	
%= 	       x %= 3 	x = x % 3 	
//= 	     x //= 3 	x = x // 3 	
**= 	     x **= 3 	x = x ** 3 	
&= 	       x &= 3 	x = x & 3 	
|= 	       x |= 3 	x = x | 3 	
^= 	       x ^= 3 	x = x ^ 3 	
>>= 	     x >>= 3 	x = x >> 3 	
<<= 	     x <<= 3 	x = x << 3
```

## Python Comparison Operators

Comparison operators are used to compare two values:
```
Operator 	Name 	Example 	
== 	      Equal 	x == y 	
!= 	     Not equal 	x != y 	
> 	     Greater than 	x > y 	
< 	     Less than 	x < y 	
>= 	     Greater than or equal to 	x >= y 	
<= 	   Less than or equal to 	x <= y
```

## Python Logical Operators

Logical operators are used to combine conditional statements:
```
Operator 	Description 	                             Example 
and  	Returns True if both statements are true 	x < 5 and  x < 10 	
or 	Returns True if one of the statements is true 	x < 5 or x < 4 	
not 	Reverse the result, returns False if the result is true 	not(x < 5 and x < 10) 	
```

## Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:
```
Operator 	             Description 	                            Example 	
is  	Returns True if both variables are the same object 	       x is y 	
is not 	Returns True if both variables are not the same object 	x is not y
```

## Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:
```
Operator 	      Description 	                                        Example 	
in  	Returns True if a sequence with the specified value is present in the object 	x in y 	
not in 	Returns True if a sequence with the specified value is not present in the object 	x not in y 	
```
## Python Bitwise Operators

Bitwise operators are used to compare (binary) numbers:
```
Operator 	Name     	Description 	                             Example 
&  	      AND 	Sets each bit to 1 if both bits are 1       	    x & y 	
| 	      OR 	  Sets each bit to 1 if one of two bits is 1 	      x | y 	
^ 	      XOR 	Sets each bit to 1 if only one of two bits is 1 	x ^ y 	
~ 	      NOT 	Inverts all the bits                              	~x 	
<< 	      Zero fill left shift 	Shift left by pushing zeros in from the right and let the leftmost bits fall off 	                               x << 2 	
>> 	    Signed right shift 	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off 	          x >> 2
```

# ***Python Collections (Arrays)***

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

* Set items are unchangeable, but you can remove and/or add items whenever you like.

* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# ***Python Lists***
```
mylist = ["apple", "banana", "cherry"]
```

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets.

## List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.
##Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.
##Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
##Allow Duplicates

Since lists are indexed, lists can have items with the same value:

In [22]:
# Example

# Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [23]:
# Lists allow duplicate values:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

## List Length

To determine how many items a list has, use the `len()` function:

In [24]:
# Example

# Print the number of items in the list:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types

List items can be of any data type.

A list can contain different data types.

In [25]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

# `type()`

From Python's perspective, lists are defined as objects with the data type 'list':
```
<class 'list'>
```
Example

What is the data type of a list?

In [26]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The `list()` Constructor

It is also possible to use the `list()` constructor when creating a new list.

In [27]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Access Items

List items are indexed and you can access them by referring to the index number:

**Note**: The first item has index 0.

In [28]:
# Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

## Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [29]:
# Print the last item of the list:
print(thislist[-1])

cherry

## Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [30]:
# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

**Note**: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [31]:
# This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [32]:
# This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

## Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list:

Example

This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [33]:
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists

To determine if a specified item is present in a list use the in keyword:

Example

Check if "apple" is present in the list:

In [34]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Change Item Value

To change the value of a specific item, refer to the index number:

In [35]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

## Change a Range of Item Values

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [36]:
# Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [37]:
# Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

**Note**: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [39]:
# Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

The `insert()` method inserts an item at the specified index:

**Note**: As a result of the example below, the list will now contain 4 items

In [40]:
# Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Append Items

To add an item to the end of the list, use the `append()` method:

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

## Insert Items

To insert a list item at a specified index, use the `insert()` method.

The `insert()` method inserts an item at the specified index:


**Note**: As a result of the examples below, the lists will now contain 4 items.

In [42]:
# Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

## Extend List

To append elements from another list to the current list, use the `extend()` method.

The elements will be added to the end of the list.

In [43]:
# Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

## Add Any Iterable

The `extend()` method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [44]:
# Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove Specified Item

The `remove()` method removes the specified item.

In [45]:
# Remove "banana":
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

## Remove Specified Index

The `pop()` method removes the specified index.

If you do not specify the index, the `pop()` method removes the last item.

In [46]:
# Remove the second item:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [47]:
# Remove the last item:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The `del` keyword also removes the specified index:

In [48]:
# Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The `del` keyword can also delete the list completely.

In [49]:
# Delete the entire list:
thislist = ["apple", "banana", "cherry"]
del thislist

## Clear the List

The `clear()` method empties the list.

The list still remains, but it has no content.

In [50]:
# Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Loop Through the Index Numbers

You can also loop through the list items by referring to their index number.

Use the `range() and len()` functions to create a suitable iterable.

The iterable created in the example below is [0, 1, 2].

In [51]:
# Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry